@model BlackBlog.Models.Post
@{
    ViewBag.Title = "Home";
}

<h3>@Model.Title</h3>
<p class="muted">Post written by <a href="about">@Model.Author</a></p>
@Model.Body
<hr>
<p class="muted"><small>Posted: @Model.DateCreated.ToString("dd MMM yyyy") <br />
Previous Post: <a href="previous-post">Is Moodle any good?</a></small></p>
