@{
    ViewBag.Title = "Home";
}

<h3>Moodle, SCORM and Articulate Studio 09</h3>
<p class="muted">Post written by <a href="about">Kestrel Blackmore</a></p>
<p>I’ve been to several Moodle courses recently and whilst they have been enjoyable there doesn’t seem to be much coverage on using Moodle with SCORM.  It’s mostly been about using Moodle as a CMS to organise some type of structure for placing your course content ‘online’.  Now I have nothing against that but it doesn’t really seem like true elearning to me.</p>
<h4>Scenario based learning</h4>
<p>Recently I’ve been getting into scenario based elearning especially the kind that Cathy Moore advocates (here is her brilliant ‘How to save the world with elearning scenarios’ presentation on slideshare).</p>

<h4>Articulate Studio</h4>
<p>We use Articulate Studio 09 as our rapid elearning authoring tool here at Australian Food Training Centre.  It is a brilliant package which I highly recommend and I’ve pointed to some good starting tutorials on my eLearning page.  It allows you to easily create the kind of scenarios that Cathy has been talking about.  This is fantastic and solves one part of the equation but the whole Moodle and SCORM.</p>

<p>So over the next few posts I’m going to dedicate some time to explaining how you can get Moodle and SCORM + Articulate Studio 09 (MaSAS) to play with each other.</p>

<hr>
<p class="muted"><small>Posted: 28 Nov 2012 <br />
Previous Post: <a href="previous-post">Is Moodle any good?</a></small></p>
