@model IEnumerable<BlackBlog.Models.Post>

@{
    ViewBag.Title = "Archives";
}

<h3>Archives</h3>

    @foreach (var post in Model)
    {
        <div class="row">
            <div class="span2">
                <p>@post.DatePublish.ToString("dd MMM yyyy")</p>
            </div>
            <div class="span8">
                <p><a href="#">@post.Title</a></p>
            </div>
        </div>
    }
